* {
  padding: 0px;
  margin: 0;
}

h1{
  text-align: center;
}

#localWeather{
  text-align: center;
}

#imgHeader {
width: 100%;
height: 280px;
}

#weatherIcon{
  padding: 0 0 10px 5px;
  height: 50px;
}

@media (min-width:600px){
  #imgHeader {
    padding: 0 60px;
  }
} 

@media (min-width:800px){
  #imgHeader {
    padding: 0 90px;
  }
} 

@media (min-width:1000px){
  #imgHeader {
   padding: 0 160px;
  }
} 

@media (min-width:1200px){
  #imgHeader {
   padding: 0 250px;
  }
} 